body{
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}
.swal2-styled.swal2-cancel{
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.swal2-styled.swal2-cancel:hover{
    color: #fff !important;
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}
.swal2-styled.swal2-cancel:focus{
    color: #fff !important;
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.50) !important;
    -moz-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.50) !important;
    -ms-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.50) !important;
    -o-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.50) !important;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.50) !important;
}
hr{
    opacity: 1;
    background-color: #ffffff;
}
#bg{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}
#listToppings thead tr th{
    width: 80%;
}
@media screen and (max-width: 1024px){
    img.bg{
        left: 50%;
        margin-left: -512px;
    }
}
